.backdrop{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition:250ms $timing-function;
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  transition: 250ms $timing-function;
}

.modal {
  min-height: 581px;
  width: 528px;
  background: $color-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  padding:40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:4px;
  transition: 250ms $timing-function;
}

.modal-logo {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  margin:-33px -28px 535px 450px;
  color: #188CE8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
}



.logo-krest:hover{
fill: $color-accent;
transition: 250ms $color-accent;
}


.form-text{
font-size: 12 px;
line-height: 14px;
letter-spacing: 0.01em;
color: $second-color;
width: 40px;
}


.logo-register{
 position: absolute;
 left: 15px;
 top:55%;
 transform: translateY(-55%);


} 


.input-wrap{
position: relative;

}

.form-position{
  margin-left: 0px;
  margin-left: 0px;
}

.form-text-header{
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-main;
  margin-bottom: 12px;
}

 .form-field{
  margin: 0px;
  border:none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
} 

 .form-label{
padding:4px;
} 

.check-text{
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: $second-color;
display: flex; 
align-items: center;
margin-top: 25px;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid $color-main;
  border-radius: 2px;
  margin-right: 8px;
  /* позиционирование. svg */
  // подключен шаблон 
  @extend %position-wrap;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.check-icon{
   fill: $color-white;
}




.modal-check:checked+.check-text{

   .check-item {
     background-color: $color-accent;
     border: none;
   }
   
   .modal-check {
     visibility: hidden;
   }
   
   
}



.text-info{
  text-decoration:underline;
  color: $color-accent;
}

.form-input{
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  width: 448px;
  cursor: pointer;
  padding-left: 40px;
  margin-bottom: 10px;
  transition: 250ms $timing-function;

  &:focus,
  &:hover {
    border-color: $color-accent;
    outline: none;
  }

}
 
.form-input:hover+.logo-register{
  fill: $color-accent;
}
.form-input:focus+.logo-register {
  fill: $color-accent;
}


.form-input-text{
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  cursor: pointer;
  width: 448px;
  height: 120px;
  outline: none;
  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    border-color: $color-accent;
  }
  
  // &::placeholder {
  //   font-size: 12px;
  //   line-height: 14px;
  //   letter-spacing: 0.01em;
  //   padding: 12px 16px;
  //   color: rgba(117, 117, 117, 0.5);
  // }

}



.button-form{
  height: 50px;
  width: 200px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: $color-white;
  border: none;
  margin-bottom: 40px;
  transition: 2500ms $timing-function;
  
  &:hover,
  &:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: 250ms $timing-function;
  }

}


.button-form-child {
  display:block;
  margin:0 auto;
}

.button-indent{
  padding-top: 30px;
}




