.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: $color-main;
  margin-bottom: 50px;
  text-align: center;
}

.activity {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.img-position {
  position: relative;

    &::before {
    display: inline-block;
    position: absolute;
    content: "";
    height: 70px;
    width: 100%;
    bottom: 0%;
    background-color: rgba(47, 48, 58, 0.8);
  }

}


.foto {
  display: flex;
  max-width: 100%;
  height: auto;
}

.text-position {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-white;
}

.text-position {
  position: absolute;
  display: flex;
  bottom: 27px;
  right: 85px;
}
