
.first-section-item:not(:last-child) {
  margin-right: 30px;
}

.complex-logo-first {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  background: $for-section;
  border-radius: 4px;
  margin-bottom: 30px;
}

.first-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.second-text {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $second-color;
  padding-top: 10px;
}
